.video-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.video-list-item {
    margin: 0px 10px;
}