body {
  background: black;  
}

.app h1 {
  color:white;
}


.row {
    overflow: scroll;
    width: 100%;
}

.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 30px 0;
    padding-bottom: 10px;
  }

  .row__inner:hover .video-list-item {
    opacity: 0.3;
  }
  .row__inner:hover .video-list-item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }

  .video-list-item:hover ~.video-list-item {
    -webkit-transform: translate3d(125px, 0, 0);
            transform: translate3d(125px, 0, 0);
  }

  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
  }
  .tile__details:after,
  .tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
  }
  .tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
  .tile__details:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
    color:white;
  }
  .video-list-item:hover .tile__details {
    opacity: 1;
  }
  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    white-space: pre-line;
  }

.video-list-item {
    position: relative;
    margin-right: 10px;
    width: 250px;
    height: 140.625px;
    cursor: pointer;
    display: inline-block;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.video-list-item img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-main {
    position:fixed;
    background: white;
    top: 2%;
    right: 5%;
    padding: 10px;
    width: 90%;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}




.jumbotron {
  background: url('./images/arcade1.jpg');
  height: 500px;
  background-size: cover;
}