.about-me-container {
    height: 100vh;
    font-family:'Raleway', sans-serif;
    margin: 0 auto;
    width: 1200px;
    
    img {
        height: 100vh;
    }

    .about-me-wrapper {
        display: flex;
    }


    aside {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 60px;

        h1{
            font-size: 54px;
        }
    }
}



.portfolio-container {
    height: 100vh;
    
    img{
        height: 350px;
    }


    .project {
        display: flex;
        flex-direction: row;
    }
}
