nav{
    display:flex;
    justify-content: space-between;
    list-style: none;

    .nav-page-links{
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        
        li{
            margin: 20px;
            padding: 10px;
            border: 2px solid #6FC3DF;
        }

        a{
            text-decoration: none;
            color: white;
        }
    }

    .nav-social-links{
        display:flex;
        font-size: 30px;

        li {
            margin: 20px;
        }

        a{
            color: white;
        }

    }
}

.header-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + -200px);

    span {
        color: #6FC3DF;
    }
}